<img src="../../assets/load.gif" *ngIf="!cargado">

<div class="arco-container" *ngFor="let arco of listaArcos; let i = index">
    <div class="arco-header">
        <h3>Arco ID: {{ arco.id }}</h3>
    </div>
    <div class="arco-details">
        <p><strong>Calidad:</strong> {{ arco.calidad }}</p>
        <p><strong>Estado:</strong> {{ arco.estado }}</p>
        <p><strong>Libraje:</strong> {{ arco.libraje }}</p>
        <p><strong>Tipo:</strong> {{ arco.tipo }}</p>
        <p><strong>Mano:</strong> {{ arco.mano }}</p>
    </div>
    
    <div class="arco-section">
        <h4 (click)="toggleSection(i, 'mantenimiento')">
        Mantenimientos: 
        <span class="arrow">{{ showMantenimiento[i] ? '▼' : '▶' }}</span>
        </h4>
      <ul *ngIf="showMantenimiento[i]">
        <li *ngFor="let m of arco.mantenimiento">
            <p><strong>Fecha: </strong>{{ m.fecha }}</p>
            <p><strong>Responsable: </strong>{{ m.empleadoId }}</p>
            <p><strong>Concepto: </strong>{{ m.concepto }}</p>
            <div class="button-container">
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </div>
        </li>
        </ul>
    </div>
    
    <div class="arco-section">
        <h4 (click)="toggleSection(i, 'historial')">
        Historial de Préstamos: 
        <span class="arrow">{{ showHistorial[i] ? '▼' : '▶' }}</span>
        </h4>
      <ul *ngIf="showHistorial[i]">
        <li *ngFor="let h of arco.historial">
            <p><strong>Fecha: </strong>{{ h.fecha }}</p>
            <p><strong>Sede: </strong>{{ h.sedeId }}</p>
            <p><strong>Arquero: </strong>{{ h.arqueroId }}</p>
            <div class="button-container">
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </div>
        </li>
        </ul>
    </div>
</div>

