<app-navbar></app-navbar>
<div class="loader-container" *ngIf="!cargado">
    <img src="../../assets/load.gif" *ngIf="!cargado" id="load">
</div>
<div class="filter-container" >
    
    <h3 id="filtrado" (click)="toggleFilter()">Filtros {{ filtro ? '▼' : '▶' }}</h3>

    <div *ngIf="filtro">
        <div class="dropdown">
            <label class="dropdown-label" for="tipo">Tipo</label>
            <select id="tipo" (change)="filtrarArcos()">
                <option *ngFor="let tipo of filtroTipo" [value]="tipo">{{tipo}}</option>
            </select>
        </div>
    
        <div class="dropdown">
            <label class="dropdown-label" for="calidad">Calidad</label>
            <select id="calidad" (change)="filtrarArcos()">
                <option *ngFor="let tipo of filtroCalidad" [value]="tipo">{{tipo}}</option>
            </select>
        </div>
    
        <div class="dropdown">
            <label class="dropdown-label" for="estado">Estado</label>
            <select id="estado" (change)="filtrarArcos()">
                <option *ngFor="let tipo of filtroEstado" [value]="tipo">{{tipo}}</option>
            </select>
        </div>
    
        <div class="dropdown">
            <label class="dropdown-label" for="libraje">Libraje</label>
            <select id="libraje" (change)="filtrarArcos()">
                <option *ngFor="let tipo of filtroLibraje" [value]="tipo">{{tipo}}</option>
            </select>
        </div>
    
        <div class="dropdown">
            <label class="dropdown-label" for="mano">Mano</label>
            <select id="mano" (change)="filtrarArcos()">
                <option *ngFor="let tipo of filtroMano" [value]="tipo">{{tipo}}</option>
            </select>
        </div>
    </div>
    
</div>

<div class="arco-container" *ngFor="let arco of listaArcosStaged; let i = index">
    <div class="arco-header">
        <h3>Arco ID: {{ arco.id }}</h3>
    </div>
    <div class="arco-details">
        <p><strong>Calidad:</strong> {{ arco.calidad }}</p>
        <p><strong>Estado:</strong> {{ arco.estado }}</p>
        <p><strong>Libraje:</strong> {{ arco.libraje }}</p>
        <p><strong>Tipo:</strong> {{ arco.tipo }}</p>
        <p><strong>Mano:</strong> {{ arco.mano }}</p>

        <p><strong>Estado cuerda:</strong> {{ arco.estadoCuerda }}</p>
        <p><strong>Estado rest:</strong> {{ arco.estadoRest }}</p>
        <p><strong>Estado palas:</strong> {{ arco.estadoPalas }}</p>
        <p><strong>Estado pintura:</strong> {{ arco.estadoPintura }}</p>
    </div>
    
    <div class="arco-section">
        <h4 (click)="toggleSection(i, 'mantenimiento')">
        Mantenimientos: 
        <span class="arrow">{{ showMantenimiento[i] ? '▼' : '▶' }}</span>
        </h4>
      <ul *ngIf="showMantenimiento[i]">
        <li *ngFor="let m of arco.mantenimiento">
            <p><strong>Fecha: </strong>{{ m.fecha }}</p>
            <p><strong>Responsable: </strong>{{ m.empleadoId }}</p>
            <p><strong>Concepto: </strong>{{ m.concepto }}</p>
            <div class="button-container">
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </div>
        </li>
        </ul>
    </div>
    
    <div class="arco-section">
        <h4 (click)="toggleSection(i, 'historial')">
        Historial de Préstamos: 
        <span class="arrow">{{ showHistorial[i] ? '▼' : '▶' }}</span>
        </h4>
      <ul *ngIf="showHistorial[i]">
        <li *ngFor="let h of arco.historial">
            <p><strong>Sede: </strong>{{ h.sede }}</p>
            <p><strong>Fecha: </strong>{{ h.fecha }}</p>
            <p><strong>Hora: </strong>{{ h.hora }}</p>
            <div class="button-container">
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </div>
        </li>
        </ul>
    </div>
    <div class="button-container arcoButtons">
        <button class="btn-editar" (click)="editarArco(arco.id)">Editar</button>
        <button class="btn-eliminar">Eliminar</button>
    </div>
</div>

