<app-navbar></app-navbar>
<div class="body">
  <div class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed}">
    <button class="btn-toggle" (click)="isSidebarCollapsed = !isSidebarCollapsed">Menú <p style="color: #dadada;">*</p> </button>
    <div *ngIf="!isSidebarCollapsed" class="menu-item">
      <button class="menu-title" (click)="toggleMenu('registro')" [ngClass]="{'collapsed': activeMenu !== 'registro'}">
        <span>Registro de Datos</span>
      </button>
      <div *ngIf="activeMenu === 'registro'">
        <button (click)="navigateTo('/crearArco')" class="btn btn-sub fade-in"><span>Crear arco</span></button>
        <button (click)="navigateTo('/crearPaca')" class="btn btn-sub fade-in"><span>Crear pacas</span></button>
        <button (click)="navigateTo('/armarCampo')" class="btn btn-sub fade-in"><span>Armar campo</span></button>
        <button (click)="navigateTo('/prestamo-Arco')" class="btn btn-sub fade-in"><span>Prestamo arcos</span></button>
      </div>
    </div>
    <div *ngIf="!isSidebarCollapsed" class="menu-item">
      <button class="menu-title" (click)="toggleMenu('visualizacion')" [ngClass]="{'collapsed': activeMenu !== 'visualizacion'}">
        <span>Visualización de Datos</span>
      </button>
      <div *ngIf="activeMenu === 'visualizacion'">
        <button (click)="navigateTo('/verArcos')" class="btn btn-sub fade-in"><span>Ver arcos</span></button>
        <button (click)="navigateTo('/verPacas')" class="btn btn-sub fade-in"><span>Ver pacas</span></button>
        <button (click)="navigateTo('/ver-historial-pacas-sede')" class="btn btn-sub fade-in"><span>Ver pacas fechas</span></button>
        <button (click)="navigateTo('/ver-historial-arcos')" class="btn btn-sub fade-in"><span>Ver arcos fechas</span></button>
        <button (click)="navigateTo('/ver-staged')" class="btn btn-sub fade-in">Staged</button>
      </div>
    </div>
    <button *ngIf="!isSidebarCollapsed" (click)="navigateTo('/arquitectura')" class="btn btnTemp">Diagramas</button>
  </div>

  <!-- Perfil de la Persona -->
  <div class="profile">
    <!--
    <img src="https://via.placeholder.com/150" alt="Foto de Perfil" class="profile-pic">
    <h2 class="profile-name">Nombre de la persona</h2>
    <p class="profile-age">Edad: XX años</p>
    <p class="profile-role">Rol: Administrador</p>
    -->
    <div style="width: 90%; text-align: left">
      <p><b>Notas de desarrollo</b></p>
      <p>Dado que la app-web se encuentra en desarrollo, es posible que existan errores, por lo tanto ten en cuenta esto!. Adicionalmente, la interfáz va a estar cambiando constantemente</p>
      <p><b>V0.7.2</b></p>
      <ul>
        <li><p>Se agrega opcion de mantenimiento para arcos y pacas </p>
        <p><i>(Ver arcos/pacas ->mantenimiento -> agregar mantenimiento)</i></p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Se agrega error en prestamo-Arco que impedía subir la información cuando se envia mal o incompleta la información en un primer intento</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<button (click)="forceActualization()" class="btn btn-warning"><span>Forzar actualización de memoria local</span></button>