<input type="number" placeholder="Numero de paca">
<!--
<select>
    <option *ngFor="let tipo of TipoPaca" [value]='tipo.value'>{{tipo.value}}</option>
</select>
<select>
    <option *ngFor="let sede of Sedes" [value]='sede.value'>{{sede.value}}</option>
</select>
<select>
    <option *ngFor="let ubicacion of Ubicaciones" [value]='ubicacion.value'>{{ubicacion.value}}</option>
</select>
<select>
    <option *ngFor="let estado of EstadosPaca" [value]='estado.value'>{{estado.value}}</option>
</select>
-->