<app-navbar></app-navbar>
<app-alert
[show]="isPopupVisible"
[title]="popupTitle"
[message]="popupMessage"
(close)="onPopupClose()"
></app-alert>
<form onsubmit="return false" >
    <div class="container container1">
        <div class="form-group numeroDiv">
            <label for="numero">Número de paca</label>
            <input id="numero" type="number" placeholder="Número de paca" min="1" required>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            <select id="tipo">
                <option *ngFor="let tipo of tipoPacas" [value]="tipo">{{tipo}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <select id="ubicacion">
                <option *ngFor="let ubicacion of ubicacionPacas" [value]="ubicacion">{{ubicacion}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sede">Sede</label>
            <select id="sede">
                <option *ngFor="let sede of sedes" [value]="sede">{{sede}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <select id="estado">
                <option *ngFor="let estado of estadoPacas" [value]="estado">{{estado}}</option>
            </select>
        </div>
    </div>
    <div class="container container2">
        <button class="submit-btn" (click)="agregarRegistro()">Agregar Arco</button>
    </div>
</form>
